@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 32px;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

.rainbow {
    background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}