body {
    background-color: #292929;
    padding: 0 10vw 0 10vw;
}

.app-container {
    display: block;
    width: 80vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app {
    width: 100%;
    height: 50px;
}

.head-logo {
    padding-bottom: 8px;
}

